@font-face {
  font-family: "Gilroy", sans-serif;
  src: url("/fonts/Gilroy-Medium.woff2") format("woff2"), url("/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  background: #121212;
  color: #fff;
  line-height: 1.5;
}

img {
  display: block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 37.5px;
  outline: 2px dashed red;
}

.nav {
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .nav__logo {
  display: block;
}
.nav .nav__list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.nav li:hover a {
  color: #8b57c2;
}
.nav .nav__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
}
.nav button {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 18px 55px;
  height: 56px;
  color: #fff;
  background-color: #121212;
}

/* Hero */
.hero-section {
  padding-top: 36px;
  padding-bottom: 40px;
}

.hero {
  max-width: 1240px;
  margin: 0 auto;
}
.hero__cont {
  position: relative;
  display: flex;
  gap: 37px;
}
.hero__box1 {
  width: 503px;
  position: relative;
}
.hero__svg-block {
  display: flex;
  gap: 37px;
  margin-bottom: 53px;
}
.hero__svg-list {
  display: flex;
  gap: 12px;
  align-items: center;
}
.hero__svg-list p {
  font-weight: 600;
  font-size: 16px;
  line-height: 132%;
}
.hero__svg-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #282828;
}
.hero__tittle1 {
  font-weight: 700;
  font-size: 241px;
  line-height: 100%;
  color: #8b57c2;
}
.hero__tittle2 {
  font-weight: 700;
  font-size: 67px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.hero__text1 {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
  width: 250px;
  top: 120px;
  right: 0;
}
.hero__span1 {
  font-weight: 700;
}
.hero__text2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  margin-bottom: 84px;
}
.hero__span2 {
  font-weight: 800;
  font-size: 26px;
  line-height: 140%;
}
.hero__btn {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 8px;
  padding: 18px 55px;
  width: 272px;
  height: 56px;
  background: #8b57c2;
}
.hero__box2 {
  position: relative;
  display: flex;
  gap: 95px;
  z-index: 100;
}
.hero__box-ob {
  width: 417px;
  height: 415px;
  padding: 33px 23px 34px 32px;
  background-image: url("../img/fon1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.hero__box-ob .hero__ob-img1 {
  margin-left: auto;
}
.hero__box-ob .hero__ob-img2 {
  margin-top: 50px;
}
.hero__box-hand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  width: 244px;
  height: 244px;
  border-radius: 100%;
  background: linear-gradient(149deg, #80ebf1 0%, #51a5cd 32.42%, #50569e 62.5%, #ce69dd 100%);
}
.hero__box-hand img {
  mix-blend-mode: color-dodge;
}
.hero__foto-box {
  border-radius: 29px;
  width: 188px;
  height: 433px;
  padding: 54px 43px;
  background: #8b57c2;
}
.hero__foto-box .hero__foto-text {
  font-weight: 700;
  font-size: 23px;
  line-height: 110%;
  text-align: center;
  margin-bottom: 39px;
}
.hero__fon2 {
  position: absolute;
  top: 246px;
  left: 243px;
}
.hero__svg {
  position: absolute;
  right: -100px;
  z-index: -5;
}
.hero__bottomText {
  margin: 50px auto 0;
  width: 600px;
  font-weight: 800;
  font-size: 50px;
  line-height: 120%;
  text-align: center;
}

/* Program */
.program-section {
  padding: 40px 0;
  color: black;
  background-color: #fff;
}

.program__header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 38px;
}
.program__tittle {
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  margin-bottom: 30px;
}
.program__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.8);
  max-width: 549px;
}
.program__text-span {
  font-weight: 700;
}
.program__box2-tittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 14px;
}
.program__box2-list {
  display: flex;
  gap: 37px;
}
.program__box2-list div {
  font-weight: 800;
  font-size: 30px;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #ff7ef2;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}
.program__box2-list p {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
.program .info.open .info__box {
  background: #8b57c2;
  border-radius: 20px;
}
.program .info.open .info__text {
  color: #fff;
}
.program .info.open .info__svg-item {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.program .info.open .info__icon path {
  fill: #fff;
}
.program .info.open .info__icon rect {
  fill: #fff;
}
.program .info.open .info__btn-item {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.program .info.open .info__btn-svg {
  stroke: #fff;
  transform: rotate(-180deg);
}
.program .info.open .info__content {
  max-height: 1000px;
  padding: 48px 40px 61px 63px;
  opacity: 1;
}
.program .info {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
}
.program .info__box {
  position: relative;
  padding: 40px 0px 40px 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
}
.program .info__box::before {
  content: "";
  width: 1259px;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}
.program .info__text h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 44px;
  transition: 0.3s all ease-in-out;
}
.program .info__modul {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.program .info__svg-item {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  padding: 6px 24px 6px 8px;
  height: 44px;
  display: flex;
  gap: 12px;
  align-items: center;
  transition: 0.3s all ease-in-out;
}
.program .info__svg-item span {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}
.program .info__btn {
  width: 100%;
  max-width: 314px;
  display: flex;
  gap: 116px;
}
.program .info__btn-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: #8b57c2;
  transition: 0.3s all ease-in-out;
}
.program .info__btn-svg {
  stroke-width: 3px;
  stroke: #000000;
  transition: 0.3s all ease-in-out;
}
.program .info__content {
  display: flex;
  gap: 30px;
  padding: 0 40px 0 63px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, padding 0.3s ease, opacity 0.3s ease-in-out;
}
.program .info__content-data {
  background: #e7d0ff;
  padding: 29px;
  border-radius: 20px;
  height: fit-content;
  width: 100%;
  max-width: 477px;
}
.program .info__content-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  margin-bottom: 18px;
}
.program .info__content-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.program .info__content-list li {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  transition: 0.3s all ease-in-out;
}
.program .info__content-list li.active {
  font-weight: 700;
  line-height: 100%;
  color: #8b57c2;
  cursor: pointer;
  padding-left: 12px;
}
.program .info__content-list li.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 10px;
  background: url("../img/arrow2.svg") center/contain no-repeat;
}
.program .info__content-list b {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #8b57c2;
}
.program .info__detail {
  width: 50%;
  margin-left: auto;
}
.program .info__detail-list {
  display: none;
}
.program .info__detail-list.active {
  display: block;
  transition: 0.3s all ease-in-out;
}
.program .info__detail-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  margin-bottom: 16px;
}
.program .info__detail-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 40px;
}
.program .info__detail-title2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #8b57c2;
  margin-bottom: 16px;
}
.program .info__detail-list2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 22px;
}
.program .info__detail-list2 li {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  opacity: 0.8;
}
.program .info__detail-list2 li::before {
  content: "";
  border-radius: 2px;
  width: 10px;
  height: 10px;
  background: #8b57c2;
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
}
.program .info__detail-btn {
  margin-top: 48px;
  border-radius: 12px;
  padding: 24px 40px 27px;
  width: 334px;
  height: 68px;
  background: #8b57c2;
  text-align: center;
  cursor: pointer;
}
.program .info__detail-btn a {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}
.program__btn {
  margin: 0 auto;
  border-radius: 12px;
  padding: 25px 54px;
  width: 285px;
  height: 68px;
  background: #8b57c2;
}
.program__btn a {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}

.packages-section {
  padding: 41px 0;
  background-image: url("../img/hero_fon.svg");
}

/* Footer */
.footer {
  padding: 44px 0 30px;
  background: #232326;
}
.footer__container {
  margin: 0 auto;
  max-width: 1240px;
}
.footer__box {
  display: flex;
  justify-content: space-between;
}
.footer__info {
  max-width: 206px;
}
.footer__info p {
  font-size: 12px;
  line-height: 133%;
  margin: 22px 0 20px;
}
.footer__social {
  display: flex;
  gap: 20px;
}
.footer__menu {
  margin-top: 24px;
}
.footer__menu-title, .footer__contacts-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  margin-bottom: 20px;
}
.footer__menu-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 215%;
  color: #fff;
}
.footer__contacts {
  margin-top: 24px;
  max-width: 280px;
}
.footer__contacts-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__contacts-box p,
.footer__contacts-box a {
  font-weight: 400;
  font-size: 13px;
  color: #fff;
}
.footer__bottom {
  grid-column: span 3/span 3;
  display: flex;
  margin-top: 42px;
}
.footer__bottom p {
  font-size: 12px;
  margin-top: 30px;
}
.footer__bottom ul {
  display: flex;
  gap: 27px;
  margin-left: auto;
}
.footer__bottom::before {
  content: "";
  width: 1240px;
  background-color: rgba(255, 255, 255, 0.1);
  height: 1px;
  position: absolute;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
