@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  // outline: 1px solid rgba(0, 255, 0, 0.2);
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  background: #121212;
  color: #fff;
  line-height: 1.5;
}
button {
  cursor: pointer;
}
img {
  display: block;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 37.5px;
  outline: 2px dashed red;
}

.nav {
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav__logo {
    display: block;
  }
  .nav__list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  li:hover a {
    color: #8b57c2;
  }
  .nav__link {
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
  }

  button {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 18px 55px;
    height: 56px;
    color: #fff;
    background-color: #121212;
  }
}

/* Hero */

.hero-section {
  padding: 36px 0 40px;
}

.hero {
  max-width: 1240px;
  margin: 0 auto;

  &__cont {
    position: relative;
    display: flex;
    gap: 37px;
  }
  &__box1 {
    width: 503px;
    position: relative;
  }
  &__svg-block {
    display: flex;
    gap: 37px;
    margin-bottom: 53px;
  }
  &__svg-list {
    display: flex;
    gap: 12px;
    align-items: center;
    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 132%;
    }
  }
  &__svg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #282828;
  }

  &__tittle1 {
    font-weight: 700;
    font-size: 241px;
    line-height: 100%;
    color: #8b57c2;
  }
  &__tittle2 {
    font-weight: 700;
    font-size: 67px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  &__text1 {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
    width: 250px;
    top: 120px;
    right: 0;
  }
  &__span1 {
    font-weight: 700;
  }
  &__text2 {
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    margin-bottom: 84px;
  }
  &__span2 {
    font-weight: 800;
    font-size: 26px;
    line-height: 140%;
  }
  &__btn {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
    padding: 18px 55px;
    width: 272px;
    height: 56px;
    background: #8b57c2;
    transition: all 0.5s ease-in-out;
  }
  &__btn:hover {
    color: #7329b0;
    background-color: white;
    border: none;
  }

  &__box2 {
    position: relative;
    display: flex;
    gap: 95px;
    z-index: 100;
  }
  &__box-ob {
    width: 417px;
    height: 415px;
    padding: 33px 23px 34px 32px;
    background-image: url('../img/fon1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    .hero__ob-img1 {
      margin-left: auto;
    }
    .hero__ob-img2 {
      margin-top: 50px;
    }
  }

  &__box-hand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    width: 244px;
    height: 244px;
    border-radius: 100%;
    background: linear-gradient(149deg, #80ebf1 0%, #51a5cd 32.42%, #50569e 62.5%, #ce69dd 100%);

    img {
      mix-blend-mode: color-dodge;
    }
  }
  &__foto-box {
    border-radius: 29px;
    width: 188px;
    height: 433px;
    padding: 54px 43px;
    background: #8b57c2;

    .hero__foto-text {
      font-weight: 700;
      font-size: 23px;
      line-height: 110%;
      text-align: center;
      margin-bottom: 39px;
    }
  }
  &__fon2 {
    position: absolute;
    top: 246px;
    left: 243px;
  }
  &__svg {
    position: absolute;
    right: -100px;
    z-index: -5;
  }
  &__bottomText {
    margin: 50px auto 0;
    width: 600px;
    font-weight: 800;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
  }
}

/* Program */
.program-section {
  padding: 40px 0;
  color: black;
  background-color: #fff;
}

.program {
  &__header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 38px;
  }

  &__tittle {
    font-weight: 700;
    font-size: 50px;
    line-height: 110%;
    margin-bottom: 30px;
  }
  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.8);
    max-width: 549px;
  }
  &__text-span {
    font-weight: 700;
  }

  &__box2-tittle {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 14px;
  }
  &__box2-list {
    display: flex;
    gap: 37px;

    div {
      font-weight: 800;
      font-size: 30px;
      color: #fff;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background-color: #ff7ef2;
      align-items: center;
      display: flex;
      justify-content: center;
      margin-bottom: 7px;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      text-align: center;
    }
  }
  // -----info box
  .info.open {
    .info__box {
      background: #8b57c2;
      border-radius: 20px;
    }
    .info__text {
      color: #fff;
    }
    .info__svg-item {
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
    .info__icon path {
      fill: #fff;
    }
    .info__icon rect {
      fill: #fff;
    }

    .info__btn-item {
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .info__btn-svg {
      stroke: #fff;
      transform: rotate(-180deg);
    }
    .info__content {
      max-height: 1000px;
      padding: 48px 40px 61px 63px;
      opacity: 1;
    }
  }

  .info {
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
    cursor: pointer;
    z-index: 100;

    &__box {
      position: relative;
      padding: 40px 0px 40px 63px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 200px;
      transition: 0.3s all ease-in-out;
      overflow: hidden;
    }
    &__box::before {
      content: '';
      width: 1259px;
      height: 1px;
      position: absolute;
      top: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.2);
    }
    &__text {
      h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        margin-bottom: 44px;
        transition: 0.3s all ease-in-out;
      }
    }
    &__modul {
      display: flex;
      align-items: center;
      column-gap: 12px;
    }
    &__svg-item {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 40px;
      padding: 6px 24px 6px 8px;
      height: 44px;
      display: flex;
      gap: 12px;
      align-items: center;
      transition: 0.3s all ease-in-out;

      span {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
      }
    }

    &__btn {
      width: 100%;
      max-width: 314px;
      display: flex;
      gap: 116px;
    }
    &__btn-item {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 120px;
      height: 120px;
      border-radius: 100%;
      background-color: #8b57c2;
      transition: 0.3s all ease-in-out;
    }
    &__btn-svg {
      stroke-width: 3px;
      stroke: #000000;
      transition: 0.3s all ease-in-out;
    }
    &__content {
      display: flex;
      gap: 30px;
      padding: 0 40px 0 63px;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: max-height 0.5s ease, padding 0.3s ease, opacity 0.3s ease-in-out;
    }
    &__content-data {
      background: #e7d0ff;
      padding: 29px;
      border-radius: 20px;
      height: fit-content;
      width: 100%;
      max-width: 477px;
    }
    &__content-title {
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      margin-bottom: 18px;
    }
    &__content-list {
      display: flex;
      flex-direction: column;
      gap: 14px;

      li {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        transition: 0.3s all ease-in-out;
        &.active {
          font-weight: 700;
          line-height: 100%;
          color: #8b57c2;
          cursor: pointer;
          padding-left: 12px;
        }
        &.active::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 6px;
          height: 10px;
          background: url('../img/svg/arrow2.svg') center / contain no-repeat;
        }
      }

      b {
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        color: #8b57c2;
      }
    }
    &__detail {
      width: 50%;
      margin-left: auto;
    }
    &__detail-list {
      display: none;
    }

    &__detail-list.active {
      display: block;
      transition: 0.3s all ease-in-out;
    }

    &__detail-title {
      font-weight: 700;
      font-size: 22px;
      line-height: 120%;
      margin-bottom: 16px;
    }
    &__detail-text {
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 40px;
    }

    &__detail-title2 {
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      color: #8b57c2;
      margin-bottom: 16px;
    }

    &__detail-list2 {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-left: 22px;

      li {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        opacity: 0.8;
      }
    }
    &__detail-list2 li::before {
      content: '';
      border-radius: 2px;
      width: 10px;
      height: 10px;
      background: #8b57c2;
      position: absolute;
      left: -22px;
      top: 50%;
      transform: translateY(-50%);
    }
    &__detail-btn {
      margin-top: 48px;
      border-radius: 12px;
      padding: 24px 40px 27px;
      width: 334px;
      height: 68px;
      background: #8b57c2;
      text-align: center;
      cursor: pointer;

      a {
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        color: #fff;
      }
    }
  }
  &__btn {
    margin: 0 auto;
    border-radius: 12px;
    padding: 25px 54px;
    width: 285px;
    height: 68px;
    background: #8b57c2;

    a {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: #fff;
    }
  }
}

/* Packages */

.packages-section {
  padding: 41px 0;
}
.packages {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
  svg {
    position: absolute;
    bottom: 550px;
    left: -100px;
  }

  &__tittle {
    font-weight: 800;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 48px;

    span {
      color: #8b57c2;
    }
  }
  &__block {
    display: flex;
    gap: 30px;

    > div {
      flex: 1;
    }
  }
  &__box {
    border: 1px solid;
    border-radius: 20px;
  }

  &__box-tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60px;

    h3 {
      font-weight: 700;
      font-size: 30px;
      line-height: 120%;
      text-align: center;
    }
  }
  &__box-info {
    padding: 24px 24px 40px 24px;
  }
  &__list-tittle {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 24px;
  }
  &__list {
    display: flex;
    gap: 24px;
    flex-direction: column;

    li {
      position: relative;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      opacity: 0.7;
      margin-left: 1.5em;
    }
  }

  &__list-style {
    li {
      list-style: disc;
    }
  }
  &__list-yellow {
    li::before {
      content: '';
      border-radius: 2px;
      width: 10px;
      height: 10px;
      background: #fecb00;
      opacity: 1;
      position: absolute;
      left: -22px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__list-perple {
    li {
      opacity: 0.9;
    }
    li::before {
      content: '';
      border-radius: 2px;
      width: 10px;
      height: 10px;
      background: #8b57c2;
      opacity: 1;
      position: absolute;
      left: -22px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: 0.3;
    margin: 40px 0;
  }
  &__box-text {
    margin: 24px 24px 0 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
  }
}
/* Format */
.format-section {
  padding: 122px 0;
  color: black;
  background-color: #fff;
}

.format {
  max-width: 1200px;
  margin: 0 auto;

  &__header {
    position: relative;
    background-color: #8b57c2;
    border-radius: 20px;
    width: 100%;
    padding: 12px 12px 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  &__header-img1 {
    position: absolute;
    width: 172px;
    height: 172px;
    transform: rotate(-35deg);
    top: 17px;
    left: 328px;
  }
  &__header-img2 {
    position: absolute;
    width: 211px;
    height: 211px;
    transform: rotate(27deg);
    top: -62px;
    left: 509px;
  }
  &__header-img3 {
    position: absolute;
    width: 72px;
    height: 72px;
    transform: rotate(6deg);
    top: 29px;
    left: 479px;
  }
  &__box {
    position: relative;
    border-radius: 20px;
    width: 489px;
    height: 121px;
    padding: 20px 0 16px 120px;
    background-color: #e8ddf3;
  }
  &__box-img {
    position: absolute;
    top: -10px;
    left: -25px;
  }
  &__box-text {
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;

    span {
      font-weight: 700;
    }
  }
}
.timer__box {
  width: 304px;
}
.timer__box-tittle {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  margin-bottom: 17px;
  span {
    font-weight: 700;
  }
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  &__item {
    background: #fff;
    border-radius: 4px;
    width: 61px;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    span {
      font-weight: 900;
      font-size: 30px;
      line-height: 1;
      text-align: center;
      color: #000;
    }
    p {
      font-size: 10px;
      text-align: center;
    }
  }
}

/* Table */
.fon-list {
  position: absolute;
  top: 0;
  right: 190px;
  width: 270px;
  height: 100%;
  box-shadow: 13px 0 20px 0 rgba(0, 0, 0, 0.06);
  background: rgba(139, 87, 194, 0.2);
  mix-blend-mode: plus-darker;
}
.table {
  margin-top: 60px;
  &__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      display: flex;
      align-items: flex-end;
    }
  }
  &__tittle {
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    width: 490px;
    span {
      font-weight: 800;
    }
  }
  &__tittle-box1 {
    position: relative;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    text-align: center;
    background-color: #f4f5f7;
    border-radius: 24px 24px 0 0;
    width: 200px;
    height: 144px;
    padding: 51px 47px 12px 37px;
    box-shadow: inset 0px -2px 4px 0px rgba(0, 0, 0, 0.05);
    div {
      position: absolute;
      border-radius: 70px;
      padding: 8px 5px;
      background: #fea800;
      font-weight: 700;
      font-size: 13px;
      line-height: 120%;
      width: 78px;
      height: 30px;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__box-text {
    font-weight: 600;
    font-size: 10px;
    line-height: 120%;
    text-align: center;
    opacity: 0.5;
    margin-top: 30px;
  }
  &__tittle-box2 {
    position: relative;
    border-radius: 24px 24px 0 0;
    width: 270px;
    height: 179px;
    box-shadow: -3px 0 16px 0 rgba(3, 19, 54, 0.2), 3px 0 16px 0 rgba(3, 19, 54, 0.2);
    background: #8b57c2;
    font-weight: 900;
    font-size: 80px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    padding: 30px 74px 12px;

    svg {
      position: absolute;
      top: -3px;
      left: -4px;
      width: 115px;
      height: 115px;
    }
  }
  &__perple-text {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    transform: rotate(-45deg);
    left: 0;
  }
  &__bonus {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    width: 78px;
    height: 82px;
    background: #ff7ef2;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 8px 5px;
    top: -30px;
    right: 0;
  }
  &__list {
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.05);
  }
  &__list-item:nth-child(odd) {
    background: #f4f5f7;
    border-radius: 8px;
  }
  &__list-item {
    align-items: center;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 190px 270px 190px;
  }
  &__list-1 {
    border-radius: 8px 0 8px 8px !important;
  }
  &__tittle-box {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    margin-left: 14px;
  }
  &__tittle-svg {
    margin-left: 8px;
    cursor: pointer;
  }
  &__tittle-box:hover .table__tooltip {
    opacity: 1;
    visibility: visible;
    top: 170%;
  }
  &__tooltip {
    position: absolute;
    background-color: #e8ddf3;
    padding: 16px;
    border-radius: 8px;
    top: 100%;
    left: 66%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1000;

    &__item {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      list-style: disc;
      margin-left: 1.5em;
    }
  }
  &__tooltip::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 30%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-top-color: #e8ddf3;
    rotate: 180deg;
  }
  &__list-svg {
    margin: 0 auto;
  }
  .list-span {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    width: auto;
    margin: 0 auto;
    text-align: center;
  }
  .list-span2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    width: auto;
    margin: 0 auto;
  }
}
.timer__box-tittle2 {
  color: #000;
}
.timer__item2 {
  background: #e8ddf3;
}
.price {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 190px 270px 190px;

  &__box {
    text-align: center;
    margin: 0 auto;
  }
  &__first-price {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-decoration: line-through;
    color: #000;
    opacity: 0.6;
  }
  &__main-price {
    font-weight: 800;
    font-size: 40px;
    line-height: 1;
    margin-top: 6px;
    span {
      font-weight: 500;
      font-size: 20px;
      margin-left: 4px;
    }
  }
  &__btn {
    border-radius: 8px;
    padding: 18px 20px;
    width: 186px;
    height: 55px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border: none;
    margin-top: 18px;
  }
  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    margin-top: 12px;
    span {
      font-weight: 700;
    }
  }
}
.orange {
  color: #fea800;
}
.orangeback {
  background: #fea800;
}
.violet {
  color: #8b57c2;
}
.violetback {
  background: #8b57c2;
}
.blue {
  color: #3b82f6;
}
.blueback {
  background: #3b82f6;
}

/* Dedline */
.dedline-section {
  padding: 47px 0 43px;
}
.dedline {
  position: relative;
  backdrop-filter: blur(4px);
  background: #171717;
  border-radius: 20px;
  padding: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 567px;
  &__box {
    max-width: 435px;
  }
  &__box-title {
    font-weight: 800;
    font-size: 46px;
    line-height: 1.3;
    color: #8b57c2;

    margin-bottom: 30px;
    span {
      color: white;
    }
  }
  &__box-text {
    font-size: 20px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.9);
    span {
      font-weight: 700;
      color: #8b57c2;
    }
  }
  &__fon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    z-index: -5;
  }
  &__data {
    position: absolute;
    width: 201px;
    height: 268px;
    border-radius: 20px;
    backdrop-filter: blur(38px);
    background: rgba(255, 255, 255, 0.01);
    padding: 33px 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__data-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 115%;
    text-align: center;
  }
  &__days {
    font-weight: 900;
    font-size: 141px;
    line-height: 14%;
    color: #8b57c2;
  }
  &__mounth {
    font-weight: 700;
    font-size: 29px;
    line-height: 69%;
  }
  &__box2 {
    max-width: 302px;
  }
  &__box2-tittle {
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    margin-bottom: 30px;
  }
  &__box2-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 24px;
    li {
      position: relative;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: rgba(255, 255, 255, 0.9);
      img {
        margin-top: 10px;
      }
    }
    li::before {
      content: '';
      border-radius: 100px;
      width: 10px;
      height: 10px;
      background: #8b57c2;
      position: absolute;
      opacity: 1;
      left: -24px;
      top: 8px;
    }
  }
}

/* Footer */
.footer {
  padding: 44px 0 30px;
  background: #232326;

  &__container {
    margin: 0 auto;
    max-width: 1240px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 206px;

    p {
      font-size: 12px;
      line-height: 133%;
      margin: 22px 0 20px;
    }
  }
  &__social {
    display: flex;
    gap: 20px;
  }

  &__menu {
    margin-top: 24px;
  }

  &__menu-title,
  &__contacts-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 20px;
  }

  &__menu-link {
    font-weight: 400;
    font-size: 13px;
    line-height: 215%;
    color: #fff;
  }
  &__contacts {
    margin-top: 24px;
    max-width: 280px;
  }
  &__contacts-box {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p,
    a {
      font-weight: 400;
      font-size: 13px;
      color: #fff;
    }
  }

  &__bottom {
    grid-column: span 3 / span 3;
    display: flex;
    margin-top: 42px;

    p {
      font-size: 12px;
      margin-top: 30px;
    }
    ul {
      display: flex;
      gap: 27px;
      margin-left: auto;
    }
  }

  &__bottom::before {
    content: '';
    width: 1240px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 1px;
    position: absolute;
    margin-bottom: 30px;
  }
}
