@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url('/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  background: #121212;
  color: #fff;
  line-height: 1.5;
}

// h1,
// h2,
// h3,
// h4,
// p {
//   margin-top: 0;
//   margin-bottom: 0;
// }

// ul {
//   margin-top: 0;
//   margin-bottom: 0;
//   padding-left: 0;
// }

img {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
}

.nav {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav__logo {
    display: block;
  }
  .nav__list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  li:hover a {
    color: #8b57c2;
  }
  .nav__link {
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.8;
  }

  button {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 18px 55px;
    width: 272px;
    height: 56px;
    color: #fff;
    background-color: #121212;
  }
}

/* Hero */
.hero-section {
  padding-top: 36px;
  padding-bottom: 40px;
}

.hero {
  &__cont {
    display: flex;
    gap: 37px;
  }
  &__box1 {
    width: 503px;
    position: relative;
  }
  &__svg-block {
    display: flex;
    gap: 37px;
    margin-bottom: 53px;
  }
  &__svg-list {
    display: flex;
    gap: 12px;
    align-items: center;
    p {
      font-weight: 600;
      font-size: 16px;
      line-height: 132%;
    }
  }
  &__svg-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #282828;
  }

  &__tittle1 {
    font-weight: 700;
    font-size: 241px;
    line-height: 100%;
    color: #8b57c2;
  }
  &__tittle2 {
    font-weight: 700;
    font-size: 67px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  &__text1 {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
    width: 250px;
    top: 120px;
    right: 0;
  }
  &__span1 {
    font-weight: 700;
  }
  &__text2 {
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    margin-bottom: 84px;
  }
  &__span2 {
    font-weight: 800;
    font-size: 26px;
    line-height: 140%;
  }
  &__btn {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
    padding: 18px 55px;
    width: 272px;
    height: 56px;
    background: #8b57c2;
  }

  &__box2 {
    position: relative;
    display: flex;
    gap: 95px;
  }
  &__box-ob {
    width: 417px;
    height: 415px;
    padding: 33px 23px 34px 32px;
    background-image: url('../img/fon1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    .hero__ob-img1 {
      margin-left: auto;
    }
    .hero__ob-img2 {
      margin-top: 50px;
    }
  }

  &__box-hand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    width: 244px;
    height: 244px;
    border-radius: 100%;
    background: linear-gradient(149deg, #80ebf1 0%, #51a5cd 32.42%, #50569e 62.5%, #ce69dd 100%);

    img {
      mix-blend-mode: color-dodge;
    }
  }
  &__foto-box {
    border-radius: 29px;
    width: 188px;
    height: 433px;
    padding: 54px 43px;
    background: #8b57c2;

    .hero__foto-text {
      font-weight: 700;
      font-size: 23px;
      line-height: 110%;
      text-align: center;
      margin-bottom: 39px;
    }
  }
  &__fon2 {
    position: absolute;
    top: 246px;
    left: 243px;
  }
  &__bottomText {
    margin: 50px auto 0;
    width: 600px;
    font-weight: 800;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
  }
}

/* Program */
.program-section {
  padding: 40px 0;
  color: black;
  background-color: #fff;
}

.program {
  &__tittle {
    font-weight: 700;
    font-size: 50px;
    line-height: 110%;
    margin-bottom: 30px;
  }
  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: rgba(0, 0, 0, 0.8);
  }
  &__text-span {
    font-weight: 700;
  }
}

/* Formats */
.formats__grid {
  display: flex;
  gap: 20px;
}
.format {
  flex: 1;
  background: #1c1c1c;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}
.price {
  font-size: 24px;
  color: #6c3ef8;
}
